/* Fonts sourced from dafont.com */
@font-face {
    font-family: Museo-500;
    src: url(../fonts/Museo-500.otf);
}

@font-face {
    font-family: startrek;
    src: url("../fonts/Star Trek_future.ttf");
}

/* Fonts sourced from fonts.googleapis.com */
@import url("//fonts.googleapis.com/css?family=Lobster");

/******** Layout ********/



html,
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  max-width: 100vw;
  min-height: 100%;
  clear: both;
  font-family: 'Open Sans', Arial, sans-serif;
}

.ui-button,
.ui-button-text,
.ui-button-text-only {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1em;
  padding: 0.3em 0.5em 0.3em 0.4em !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: 'Museo-500', cursive;
  margin: 0px;
}

.mono,
code,
pre,
kbd {
  font-family: 'Ubuntu Mono', monospace;
  line-height: 1.3;
}

code,
kbd {
  font-size: 110%;
  padding: 2px 0.5em;
}

pre code {
  border-left-width: 0.5em;
}

pre kbd {
  padding:0.5em 0.8em;
  display:inline-block;
}

pre > code {
  padding:0.5em;
  display: inline-block;
}

pre {
  margin-left:0.5em;
}

header {
  padding: 10px;
  min-height: 30px;
  vertical-align: middle;
}

header * {
  vertical-align: middle;
}

#utils {
  position:fixed;
  top:0px;
  right:0px;
  z-index: 11;
}

#slidesOnly:hover {
  transition: opacity 0.3s;
  transition-timing-function: ease-out;
}
#slidesOnly:hover,
#slidesOnly:focus,
#slidesOnly:active {
  /* 20190504 Kludge: something is overriding this style, maybe the javascript? */
  opacity:1 !important;
}

nav {
  position: sticky;
  padding: 10px;
  min-height: 20px;
  max-height: 100vh;
  box-sizing: border-box;
  width: 100%;
  top: 0px;
  overflow: auto;
  z-index:10;
}

nav > div > span {
  display: inline-block;
  margin: 5px 10px 5px 0px;
  height:25px;
}

nav small,
#zoomSmall {
  font-size:70%;
}

#zoomSmall,
#zoomBig {
  padding:3px 5px;
  border-radius: 40%;
}

nav > div >span > input[type=range] {
  vertical-align:middle;
}

nav summary {
  outline: none;
}

nav > details {
 margin-top:5px;
}

nav > details > div {
  padding:5px 10px;
  box-sizing: border-box;
  text-align: center;
}

nav details label.ui-button {
  min-width:150px;
  text-align: left;
}

nav button {
  padding: 3px;
  height: 33px;
}
nav button img {
  vertical-align: middle;
}


main {
  margin: 0px 0px 70px 0px;
  min-height: calc(100% - 277px);
}

main > article {
  padding: 0px;
  display: none;
}

main > article > section {
  margin: 5px auto;
  padding: 0px;
  width: calc(100% - 10px);
  display: block;
  box-sizing: border-box;
  clear:both;
}

main > article > section > header {
  font-size: 2.2em;
}

main > article > section h1 {
  font-size: 1.7em;
}

main > article > section h2 {
  font-size: 1.4em;
}

article > section > header,
article > section > section {
  padding: 10px 20px;
}

article > section > header > span {
  float: right;
  font-size: 60%;
}

main > article > section > section {
  clear: both;
  min-height: 30em;
}

main > article > section blockquote {
  text-align: center;
  padding: 1em;
}

main > article > section table {
  border-collapse: collapse;
  width: 100%;
}

main > article > section th {
  text-align: left;
  margin: 0px;
  min-width: 5em;
}

main > article > section th,
main > article > section td {
  padding: 0.4em;
  page-break-inside: avoid;
}

main > article > section td {
  padding-left: 0.8em;
}

img {
  max-width: 100%
}

img.plain {
  max-width: 500%
}

footer {
  padding: 10px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
}

footer img {
  vertical-align: middle;
}

figure {
  margin: 0.5em auto;
  text-align:center;
}

.big {
  font-size: 200%;
  font-weight: 700;
}

.fl2 {
  float:left;
  margin-right:100px;
  width:320px;  
}

.fl3 {
  float:left;
  margin-right:100px;
  width:550px;  
}

.fl4 {
  float:right;
  width: 320px;
}


.fl {
  float:left;
  margin-right:0.7em;
}

.fr {
  float:right;
  margin-left:0.7em;
}

.fr, .fl {
  margin-bottom:0.7em;
  max-width:50%;
}

.w25 {
  width:25%;
} 

.w50 {
  width:50%;
}
.w75 {
  width:75%;
}
.w100 {
  width:100%;
}
.cb {
  display:block;
  clear:both;
}

.cl {
  clear:right;
}

.tm0 {
  margin-top:0px;
}

.ib {
  display:inline-block;
}

.b { 
  font-weight: bold;
}

.i {
  font-style: italic;
}

.c {
  text-align: center;
}

.strike {
  text-decoration: line-through; 
}

dl {
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
  margin: 0.5em 0;
}

dd {
  display: list-item;
  list-style:"‣";
  list-style-type: "‣";
}


/******** Tweaks and Niggles ********/

/* Bug Fix: invisible body content overflowing on smaller mobile devices */
body {
  overflow-x: hidden;
}

/* Instructions closed by default */

#slides-instructions {
  display: none;
}
#discord, #ytChats {
  /* 20190316: Hack: Layout sizing and alignment to match print and view slides buttons */
  position:relative;
  top: 1px;
  padding:7px 5px 4px;
}
.fa-discord, .fa-youtube {
  padding-right:8px;
}
.fa-discord {
  color: #32D;
}
.fa-youtube {
  color: #C22;
}

#printDoc, #slidesOnly {

}
#printDoc::before {
  padding-right:8px;
  content: "🖨️";
}

#slidesOnly::before {
  content: "👁️";
  padding-right:8px;
}

/* Form elements seems a bit small and stumpy */
input,
select,
textarea,
button
{
  font-size:1em; 
  min-width:10em;
}

button {
  min-height: 40px;
}

/* ^^ Oops! Not the little ones */
input[type=radio],
input[type=checkbox],
button
{
  min-width:0px;
}

.trev-tryit textarea {
  font-family: "Ubuntu Mono", monospace;
  font-size:1em;
  padding:8px 12px;
  width:100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  line-height:120%;
}

#overlayTR {
  box-sizing: border-box;
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 1000;
  background-color: rgba(10,0,0,0.5);
}

#overlayContent {
  box-sizing: border-box;
  width: calc(100% - 4em);
  margin: 2em auto;
  max-width:100%;
  max-height:calc(100% - 4em);
  background-color: #fff;
  padding:15px;
  text-align:center;
  overflow-y: scroll;
}

#overlayContent div:last-child {
  margin-top:0.5em;
  padding:0.5em;
}

#overlayContent > div:last-child::before {
  content:url('../img/x-25.png');
  vertical-align: -webkit-baseline-middle;
}

.modal-block {
  max-width: calc(100vw - 1em);
  margin-top:0.5em;
  margin-bottom:0.5em;
}

span.modal-block {
  margin-top:0px;
}

.modal-block div:nth-child(2) {
  display:none;
  overflow: scroll;
}

/* Responsive Double wrap Youtube Video: adapted from
  http://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed 
  Magic Number: 56.25% for a 16:9 aspect ratio video */

.youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Remove .fr margin bottom in the footer. Future fix: "last-child" fr elements */
footer .fr { 
  margin-bottom:0px; 
}
