/* For testing and development */


/* Hack: box shadow deletes default slider image 
input[type=range] {
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-color: #eef;
  border:thin solid #999
}
*/

/* Work In Progress: Frosted glass effect on slides - blur the body backgound image
main article > section {
  position:relative;
}

main article > section::before { 
  display:block;
  height:100%;
  width:100%;
  position:absolute;
  font-size:3em;
  content:"";
  z-index:-1;
  background-image:url('../img/pixel-FFF.png');
  filter:blur(20px);
  opacity:1;
} 
*/


